@page "/about"
<PageTitle>About</PageTitle>

<Blazorise.Div Style="padding: 25px;">
    <h1>About</h1>
    <h2>Where does a dad store all his dad jokes?</h2>
    <h2 style="margin-left: 30px;">In the Dad-A-Base, of course!</h2>
</Blazorise.Div>